<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="patientXml"
		class="com.tutorials.spring.Section5LifeCycleMethods.xmlconfig.Patient"
		init-method="init" destroy-method="destory">
		<property name="id">
			<value>10</value>
		</property>
	</bean>

	<bean id="patientInterface"
		class="com.tutorials.spring.Section5LifeCycleMethods.interfaceconfig.Patient"
		p:id="15" init-method="init" destroy-method="destory" />

	<bean id="patientAnnotation"
		class="com.tutorials.spring.Section5LifeCycleMethods.annotationconfig.Patient"
		init-method="init" destroy-method="destory">
		<property name="id" value="17" />
	</bean>

	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
</beans>
