<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="hospital"
		class="com.tutorials.spring.Section7ConstructorInjection.collection.List.Hospital"
		name="hspital" p:name="NH">
		<property name="department" ref="department" />
	</bean>

	<util:list list-class="java.util.LinkedList" id="department">
		<value>Front Office</value>
		<value>In Patient</value>
		<value>Out Patient</value>
	</util:list>

	<bean id="customer"
		class="com.tutorials.spring.Section7ConstructorInjection.collection.Map.Customer"
		name="Siddhant" p:id="1">
		<property name="product">
			<ref bean="products" />
		</property>
	</bean>

	<util:map map-class="java.util.TreeMap" id="products">
		<entry>
			<key>
				<value>100</value>
			</key>
			<value>iphone</value>
		</entry>
		<entry key="120" value="ipad" />
		<entry key="150">
			<value>Apple watch</value>
		</entry>
		<entry value="Macbook Pro">
			<key>
				<value>200</value>
			</key>
		</entry>
	</util:map>

	<bean id="carDealer"
		class="com.tutorials.spring.Section7ConstructorInjection.collection.Set.CarDealer"
		name="cDealer" p:name="CarDekho.Com">
		<property name="models" ref="models" />
	</bean>

	<util:set set-class="java.util.TreeSet" id="models">
		<value>BMW</value>
		<value>Marcedes</value>
		<value>Toyota</value>
		<value>BMW</value>
	</util:set>

	<bean id="employeeReftypeambiguity"
		class="com.tutorials.spring.Section7ConstructorInjection.reftypeambiguity.Employee"
		scope="prototype">
		<constructor-arg type="java.lang.String">
			<value>Sidhanth</value>
		</constructor-arg>
		<constructor-arg
			type="com.tutorials.spring.Section7ConstructorInjection.reftypeambiguity.Address">
			<ref bean="addressReftypeambiguity" />
		</constructor-arg>
		<constructor-arg type="int">
			<value>1</value>
		</constructor-arg>

	</bean>

	<bean id="addressReftypeambiguity"
		class="com.tutorials.spring.Section7ConstructorInjection.reftypeambiguity.Address">
		<constructor-arg index="0" value="304" />
		<constructor-arg index="2" value="JCR Layout" />
		<constructor-arg index="3" value="560103" />
		<constructor-arg index="1"
			value="Dwarikamai Residency" />
	</bean>

	<bean id="employeeUsingCNamespace"
		class="com.tutorials.spring.Section7ConstructorInjection.UsingCNamespace.Employee"
		c:id="2" c:name="Sahu" c:address-ref="addressUsingCNamespace"
		scope="prototype">
	</bean>

	<bean id="addressUsingCNamespace"
		class="com.tutorials.spring.Section7ConstructorInjection.UsingCNamespace.Address"
		p:houseNo="304" p:buildingName="Dwarikamai Residency"
		p:streetName="JCR Layout" p:pin="560103" />

	<bean id="employeeTagAndAttribute"
		class="com.tutorials.spring.Section7ConstructorInjection.UsingTagAndAttribute.Employee"
		scope="prototype">
		<constructor-arg>
			<value>1</value>
		</constructor-arg>
		<constructor-arg>
			<value>Sidhanth</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="addressTagAndAttribute" />
		</constructor-arg>
	</bean>

	<bean id="addressTagAndAttribute"
		class="com.tutorials.spring.Section7ConstructorInjection.UsingTagAndAttribute.Address">
		<constructor-arg name="houseNo" value="304" />
		<constructor-arg name="streetName" value="JCR Layout" />
		<constructor-arg name="pin" value="560103" />
		<constructor-arg name="buildingName"
			value="Dwarikamai Residency" />
	</bean>
</beans>